---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/AgentCard.astro";
import { getAgents } from "../js/backend.mjs";
const agents = await getAgents();
---

<Layout titre="Agents">
    <h1 class="text-6xl font-bold text-blue-500 text-center mt-8 mb-8">
        Agents
    </h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {agents.map((agent) => <Card agent={agent} />)}
    </div>
</Layout>
