@import "tailwindcss";

h1 {
    color: rgb(207, 154, 176);
    font-family: 'Gill Sans';
    font-size: 60px;
    text-align: center;
}

.header {
    background-color: rgba(118, 131, 70, 0.623);
    color: antiquewhite;
    font-style: italic;
    padding: 20px;
}

.button {
    background-color: rgba(118, 131, 70, 0.623);
    color: antiquewhite;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
}

.offre-card {
    height: 30px;
}