---
import Layout from "../layouts/Layout.astro";
import OffreCard from "../components/OffreCard.astro";
import * as backend from "../backend.mjs";
import "astro:assets";

const offres = await backend.getOffres();
---

<Layout titre="Offres">
    <h1>Offres</h1>
    <button
        id="favori-button"
        class="bg-slate-600 rounded-lg text-white p-2 button"
        >Afficher les favoris</button
    >
    <ul>
        {
            offres.map((offre) => (
                <li class="offre" data-favori={offre.favori.toString()}>
                    <OffreCard class="offre-card" offre={offre} />
                </li>
            ))
        }
    </ul>
</Layout>

<script>
    const button = document.getElementById("favori-button");
    let showOnlyFavorites = false;

    button?.addEventListener("click", () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll(".offre");

        offres.forEach((offre) => {
            const htmlElement = offre as HTMLElement;
            const isFavori = htmlElement.dataset.favori === "true";

            if (showOnlyFavorites) {
                htmlElement.style.display = isFavori ? "block" : "none";
                button.textContent = "Afficher tout";
            } else {
                htmlElement.style.display = "block";
                button.textContent = "Afficher les favoris";
            }
        });
    });
</script>
